<header>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid" style="background-color: #07dc6e;">
            <a class="navbar-brand" href="#">Admin Panel</a>
            <a class="navbar-brand" href="#">Products</a>
           
            <a class="navbar-brand" href="#"></a>
          
            <a class="navbar-brand" href="#"></a>
            <a class="navbar-brand" href="#"></a>
            <a class="navbar-brand"></a>
            <a class="navbar-brand"></a>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-secondary" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>