<section>
<div class="container mt-5 mt-l checkout">
   <form>
    <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control"  placeholder="Name">
    
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Address</label>
    <input type="text" class="form-control"  placeholder="Address">
    
  </div>
 
<hr>
        <div class="float-right pr-5">
            <h4 class="float-right mr-5 mt-4 ">Total: £ {{total}}
           
              </h4>
            <a href="" class=" btn btn-success mt-3" style="width=100%"><b>Checkout</b></a>
        </div>
</form>
</div>
</section>