<section>
    <h3 class="text-center mb-4 mt-4 pb-2 text-primary fw-bold">FAQ</h3>
    <p class="text-center mb-5">
        Find the answers for the most frequently asked questions below
    </p>

    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i> What is the return/
                exchange policy for the products?</h6>
            <p>
                We will accept any returns and/ or exchanges for a period of 15 days from the day of purchase.
                The items sold shall be in its original condition and the payment receipts shall be produced to avail
                return/ exchange.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i>How can one contact customer
                service?</h6>
            <p>
                Direct toll- free phone line:<a class="streched-link"> 010 888 (BAGS) 2247.</a> Email : <a
                    class="streched-link">customer.care@baggit.co.uk</a>
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i> What all payment options are
                available for purchase?
            </h6>
            <p>
                We accept debit card, credit card, PayPal and cash on delivery. COD will be only available for
                select products and post codes.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i> How can I check the delivery
                compatibility in my area?
            </h6>
            <p>
                Please check if the delivery covers in your area by submitting your postcode in checkout page. If
                we have delivery services in your post code, estimated time for arrival will be shown in the check out
                page.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-home text-primary pe-2"></i> How can I recycle the products?
            </h6>
            <p>If you have any of Baggit products to be recycled, we will do it free for you. Submit details of your
                products that needs to be recycled in “Recycle” section in our portal and your post code, we will
                arrange collection of items from your place.</p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i> What materials are used for
                production of the Bags? Any Harmful materials are used? Any animal
                by products in use?</h6>
            <p>
                Baggit products are made from harmless virgin plastic and recycled plastic. No harmful BPA plastic
                products are used. No animal products are used in our products.
            </p>
        </div>
    </div>
</section>
<!--Section: FAQ-->