<div class="container mt-5">

    <h2 style="text-align: center;">Register</h2>

    <form action="/signup" method="post">
        <div class="form-outline mb-4 mt-4">
            <input type="text" class="form-control" name="Name" placeholder="Enter Name" />
            <label>Name</label>
        </div>


        <div class="form-outline mb-4 mt-4">
            <input type="email" class="form-control" name="Email" placeholder="Enter Email" />
            <label>Email address</label>
        </div>


        <div class="form-outline mb-4">
            <input type="password" class="form-control" name="Password" placeholder="Enter Password" />
            <label>Password</label>
        </div>


        <div class="row mb-4">

            <button type="submit" class="btn btn-primary float-right">Signup</button>


        </div>



        <div class="text-center">
            <p><a href="/login">Already have account?</a></p>

        </div>
    </form>
</div>